    <h1>Контакты</h1>
    <p>Все отзывы, предложения и нарекания Вы можете послать создателю сайта -<br />
      <b>Ульянову Антону</b>
      на этот почтовый ящик 
      <a href="mailto:gameisch@gmail.com" title="отправить gameisch'у">gameisch@gmail.com</a>.
    </p>
    <p>г. Волгоград, тел: <b>(8442)460553</b></p>
