<h1>Помощь</h1>
<p>
  Что бы вступить в сообщество вам необходимо зарегестрироваться, если вы зарегестрированы на <a href="http://www.gravatar.com/"> сайте граватара</a> на нашем сайте автоматически создастся аватар в вашем профиле.
<br />
После вся помощь буде предоставленна.
</p>

