<tr>
  <td class="micropost">
    <span class="content"><%= micropost.content %></span>
    <span class="timestamp">
      Добавлено <%= time_ago_in_words(micropost.created_at) %> назад.
     </span>
  
 
  <% if current_user?(micropost.user) %>
  
    <%= link_to "Удалить", micropost, :method => :delete,
                                      :confirm => "Уверен?",
                                      :title => micropost.content %>
  </td>
  <% end %>
</tr>

